body{
    background-image: url(obrazky/pozadi.jpg);
    margin: 0;
    font-family: Arial;
    font-weight: 400;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
}
.pozadicko{
    position: absolute;
    top: 60%;
    text-align: center;
    color: whitesmoke;
    margin-right: 20%;
    margin-left: 20%;
}
@media screen and (max-width: 600px) {
    .pozadicko{top:90%;}
}